
body{
    margin:0%;
    background-color: aliceblue;
}

.navbar{
    background-color: white;
    padding: 1%;
    text-align: center;
    
}
.navbar img{
    vertical-align: middle;
    width:13%;
}
.navbar a{
    margin-left:2%;
    text-decoration: none;
    color:black;
    font-family:'noto sans kr',sans-serif;
    font-size:1.1rem;
    
}
#sign{
    margin-left: 5% !important;
    font-size: 0.9rem;
    padding: 0.7% 1.4%;
    background-color: rgba(0, 255, 255, 0.763);
    color:white;
    border-radius: 25px;
}
#sign:hover{
    background-color:rgb(6,6,123) ;
    color:white;
}
#sign i{
    border-radius: 50%;
    padding:0.5%;
    background-color: rgb(6,6,123);
    color: aliceblue;
}
#sign i:hover{
    background-color: aqua;
}
.kyc{
    background-color: aliceblue;
    text-align: center;
}
h1{
   font-size: 50px;
   
}
p{
    font-size: 20px;;
}
.div1 img{
    width: 8%;
    margin-right:4%;
}
img{
    width:30%;
    
}
.div2{
    display: flex;
    background-color:white;
}
button{
    padding:15px;
    margin:30px;
   width: 30%;
   font-size:15px;
  border-radius: 100px;  
  background-color: black;
  color: white;
}
button:hover{
    background-color: white;
    color: black;
}
.bills1{
    background-color: rgba(0, 132, 255, 0.632);
    
}
.bills{
    display:flex;
}
.bills img{
    width:70px;
    
    padding:4%;
}
.h1{
    color: white;
    font-size: 40px;
    padding-top:4%;
}
.bills p{
    font-size: 20px;
    color: white;
    width:1%;
    text-decoration:none;
    font-weight: bold;
    
}
.buy1{
    background-color:rgba(0, 0, 139, 0.811);
    padding:1%;
}
.buy{
    display:flex;
}
.buy img{
    width:70px;
    
    padding:50px;
}


.buy p{
    font-size: 20px;
    padding:50px;
     color: white;
    width:1%;
    text-decoration:none;
    font-weight: bold;
    
}
#h1{
    font-size: 60px;
}
.wallet1 img{
    width: 15%;
    margin-right:4%;
    background-color: aliceblue;
    margin: 5%;
    border-radius: 50px;  
}
.wallet2{
    display: flex;
    
} 
.wallet2{
    background-color: white;
    border-radius: 20px;
    margin:2%;
}
h2{
   
    display: inline;
}
.upi1 img{
    width: 15%;
    margin-right:4%;
    background-color: aliceblue;
    margin: 5%;
    border-radius: 50px;  
}
.upi2{
    display: flex;
}
.upi2{
    background-color: white;
    border-radius: 20px;
    margin:2%;
}
.postpaid1 img{
    width: 15%;
    margin-right:4%;
    margin: 5%;
    border-radius: 50px;  
}
.postpaid2{
    display: flex;
}
.postpaid2{
    background-color: white;
    border-radius: 20px;
    margin:2%;
}
.postpaid1 button{
    background-color: darkblue;
    border-color: none;
    font-size: 20px;
    
}    
.postpaid1 button:hover{
        background-color: skyblue;
        color:white;
        border-color:skyblue;
}
.bank{
    background-color: white;
    border-radius: 50px;
}
.card{
    background-color: white;
    border-radius: 50px;
    padding:2%;
    margin:3%;
}
#bank{
    display: flex;
}
.bank img{
    width:50%;
}
.card img{
    width:50%;
}
.services1 img{
    width: 30%;
    margin-right:4%;
    margin: 5%;
    
}
.services2{
    display: flex;
}
.services2{
    background-color: white;
    border-radius: 20px;
    margin:3%;
    
}
.services1 button{
    background-color: darkblue;
    border-color: none;
    font-size: 20px;
    
}    
.services1 button:hover{
        background-color: skyblue;
        color:white;
        border-color:skyblue;
}
.goals1 img{
    width: 80%;
    margin-right:4%;
    margin: 5%;
    
}
.goals2{
    display: flex;
}
.goals2{
    background-color: white;
    border-radius: 20px;
    margin:3%;
    
}
.goals3 img{
    width:40%;
}
.goals3 button{
    background-color: darkblue;
    border-color: none;
    font-size: 20px;
    
}    
.goals3 button:hover{
        background-color: skyblue;
        color:white;
        border-color:skyblue;
}
.broking1 img{
    width: 30%;
    margin-right:4%;
    margin: 5%;
    
}
.broking2{
    display: flex;
}
.broking2{
    background-color: white;
    padding:1%;
    margin-top:0%;   
}
.broking1 button{
    background-color: darkblue;
    border-color: none;
    font-size: 20px;
    
}    
.broking1 button:hover{
        background-color: skyblue;
        color:white;
        border-color:skyblue;
}
.loans1 img{
    width: 80%;
    margin-right:4%;
    margin: 5%;
    
}
.loans2{
    display: flex;  
}
.loans2{
    background-color:aliceblue;
    border-radius: 20px;
    margin:3%;
    
}
.loans3 img{
    width:40%;
}
.loans3 button{
    background-color: darkblue;
    border-color: none;
    font-size: 20px;
    
}    
.loans3 button:hover{
        background-color: skyblue;
        color:white;
        border-color:skyblue;
}
.h1class{
    background-color: white;
   
}
.accept1 img{
    width: 30%;
    margin-right:4%;
    margin: 5%;
    
}
.accept2{
    display: flex;
}
.accept2{
    background-color:whitesmoke;
    padding:1%;
    margin-top:4%;  
    margin:2%;
    border-radius: 20px; 
}
.accept1 button{
    background-color: darkblue;
    border-color: none;
    font-size: 20px;
    
}    
.accept1 button:hover{
        background-color: skyblue;
        color:white;
        border-color:skyblue;
}
.powered1 img{
    width: 30%;
    margin-right:4%;
    margin: 5%;
    
}
.powered2{
    display: flex;
}
.powered2{
    background-color:whitesmoke;
    padding:1%;
    margin-top:4%; 
    margin:2%;
    border-radius:20px;  
}
.powered1 button{
    background-color: darkblue;
    border-color: none;
    font-size: 20px;
    
}    
.powered1 button:hover{
        background-color: skyblue;
        color:white;
        border-color:skyblue;
}
.grow{
    background-color:rgb(255, 255, 255);
    border-radius: 40;
    margin:2%;
}
.grow1{
    display: flex;

}
.grow img{
    width:200px;
}
.grow a{
    color:black;
    text-decoration: none;
    font-weight: bold;
}
.ptm{
background-color: white;
display: flex;
padding:2%;
border-radius: 20px;
margin:2%;
}
.ptm1 img{
    width:100px;
}
.ptm1 a{
    color:aqua;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.ptm1 p{
    font-size: 10;
    width:150px;
}
.ptm2 img{
    width:100px;
}
#ptm{
    background-color:deepskyblue;
    border-radius: 9px;
    width:150px;
    border-color: deepskyblue;
}
#ptm:hover{
    background-color:rgba(30, 143, 255, 0.655);
    color:white;
    border-color:rgba(30, 143, 255, 0.71);
}
.ptm3 img{
    width:120px;
}
.ptm4 img{
    width:100px;
}
#pym{
    background-color:deepskyblue;
    border-radius: 9px;
    width:150px;
    height:230px;
    border-color: deepskyblue;
}
#pym:hover{
    background-color:rgba(30, 143, 255, 0.655);
    color:white;
    border-color:rgba(30, 143, 255, 0.71);
}
#pytm{
    background-color:deepskyblue;
    border-radius: 9px;
    width:150px;
    height:230px;
    border-color: deepskyblue;
}
#pytm:hover{
    background-color:rgba(30, 143, 255, 0.655);
    color:white;
    border-color:rgba(30, 143, 255, 0.71);
}
.travel{
    background-color: white;
    display: flex;
    padding:2%;
    border-radius: 20px;
    margin:2%;  
}
.travel1 img{
        width:100px;
}
.travel1 a{
        color:aqua;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
 }
.travel1 p{
        font-size: 10;
        width:150px;
}
.travel2 img{
        width:100px;
}
#travel{
        background-color:deepskyblue;
        border-radius: 9px;
        width:150px;
        height:270px;
        border-color: deepskyblue;
}
#travel:hover{
        background-color:rgba(30, 143, 255, 0.655);
        color:white;
        border-color:rgba(30, 143, 255, 0.71);
}
.travel3 img{
        width:120px;
}
.travel4 img{
        width:100px;        
}
.travel5 img{
    width:100px;
}
#trav{
        background-color:deepskyblue;
        border-radius: 9px;
        width:150px;
        height:270px;
        border-color: deepskyblue;
}
#trav:hover{
        background-color:rgba(30, 143, 255, 0.655);
        color:white;
        border-color:rgba(30, 143, 255, 0.71);
}
.end{
    background-color: aliceblue;
    display: flex;
}
#end{
    border-radius: 10px;
    width:40%;
    height:0.1%;
    
}
#end:hover{
    background-color: black;
    color: white;
}

.end img{
    width:5%;
    margin:1%;
}
.end h1{
    font-size: 20px;
}












